.section-container {
  margin: 2rem;
}
.buttons-section-container{
  display: flex;

  justify-content: space-between;
  margin: 2rem 0rem;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  gap: 6px;
  width: 40%;
  margin: 0px;
  padding: 0px;
}

mat-form-field {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.demo-table {
  width: 100%;

}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.btn-edit{
  mat-icon{
    color: #005cbb;
  }
  p{
    color: #1a1b1f;
    font-weight: normal;
  }
  &:hover{
    p{
      color: #005cbb;
      font-weight: 500;
    }
  }
}
.btn-delete{
  mat-icon{
    color: #bb2500;
  }
  p{
    color: #1a1b1f;
    font-weight: normal;
  }
  &:hover{
    background-color: #bb250028;
    p{
      color: #bb2500;
      font-weight: 500;
    }
  }
}
.no-data {
  text-align: center;
  margin-top: 4rem;
  color: rgb(99, 99, 99);
  font-size: 1.2rem;
}
