<div class="section-container">
  <h2>Crear Automotor</h2>
  <hr>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-grid">
      <!-- Dominio -->
      <mat-form-field appearance="outline">
        <mat-label>Dominio</mat-label>
        <input matInput formControlName="domain" placeholder="Ej: AAA999" />
        <mat-error *ngIf="form.get('domain')?.hasError('required')">
          El dominio es obligatorio
        </mat-error>

        <mat-error *ngIf="form.get('domain')?.hasError('pattern')">
          Formato inválido (AAA999 o AA999AA)
        </mat-error>
      </mat-form-field>

      <!-- Chasis -->
      <mat-form-field appearance="outline">
        <mat-label>Numero de Chasis</mat-label>
        <input matInput formControlName="chassis" />
      </mat-form-field>

      <!-- Motor -->
      <mat-form-field appearance="outline">
        <mat-label>Numero de Motor</mat-label>
        <input matInput formControlName="motor" />
      </mat-form-field>

      <!-- Color -->
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput formControlName="color" />
      </mat-form-field>

      <!-- Fecha fabricación -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha fabricación (YYYYMM)</mat-label>
        <input matInput formControlName="fabrication" />
        <mat-error *ngIf="form.get('fabrication')?.hasError('invalidFormat')">
          Formato inválido (YYYYMM)
        </mat-error>

        <mat-error *ngIf="form.get('fabrication')?.hasError('invalidMonth')">
          Mes inválido
        </mat-error>

        <mat-error *ngIf="form.get('fabrication')?.hasError('futureDate')">
          No puede ser futura
        </mat-error>
      </mat-form-field>

      <!-- CUIT -->
      <mat-form-field appearance="outline">
        <mat-label>CUIT</mat-label>
        <input matInput formControlName="cuit" />
        <mat-error *ngIf="form.get('cuit')?.hasError('required')">
          El CUIT es obligatorio
        </mat-error>

        <mat-error *ngIf="form.get('cuit')?.hasError('invalidFormat')">
          Debe tener 11 dígitos
        </mat-error>

        <mat-error *ngIf="form.get('cuit')?.hasError('invalidCuit')">
          CUIT inválido
        </mat-error>
      </mat-form-field>

      <!-- Dueño -->
      <mat-form-field appearance="outline">
        <mat-label>Dueño</mat-label>
        <input matInput formControlName="owner" />
      </mat-form-field>

    </div>

    <div class="actions">
      <button mat-fab extended class="btn-delete" (click)="onCancel()">
        <mat-icon> cancel </mat-icon>
        <p>Cancelar</p>
      </button>
      <button  mat-fab extended  type="submit" [disabled]="form.invalid">
      	<mat-icon> check </mat-icon>
        Guardar
      </button>


    </div>

  </form>

</div>
